<div class="w-75 d-flex m-auto">
  <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search by Name"/>
  <div class="btn-group" role="group">
    <input type="radio" class="btn-check" autocomplete="off">
    <label class="btn btn-primary" (click)="open(content)" >Change Location</label>

    <input type="radio" class="btn-check" autocomplete="off">
    <label class="btn btn-primary" (click)="resetSearch()">Reset Location</label>
  </div>

</div>
<div class="w-75 d-flex m-auto">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Address</th>
      <th scope="col">Website</th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="breweries.length < 1" *ngFor="let brew of breweries | searchFilter : searchText">
        <th><a [routerLink]="['/moreInfo', brew.id]">{{brew.name}}</a></th>
        <td>{{brew.brewery_type}}</td>
        <td>{{brew.street}}, {{brew.city}}, {{brew.state}}, {{brew.postal_code}}</td>
        <td><a target="_blank" href='{{brew.website_url}}'>{{brew.website_url || 'N/A'}}</a></td>
      </tr>

    </tbody>
  </table>
</div>


<!-- This section is for the modal that pops up requesting a search-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Location</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <form #searchForm='ngForm'>
      <div class="mb-3">
        <label for="city">City</label>
        <div class="input-group">
          <input ngModel id="city" class="form-control" placeholder="York" name="city">
        </div>
        <label for="state">State</label>
        <div class="input-group">
          <input ngModel id="state" class="form-control" placeholder="Pennsylvania" name="state">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="modal.close(searchForm.value)">Save</button>
      </div>
    </form>
  </div>

</ng-template>
